@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* section-1 */
.header {
    font-family: "Roboto";
    font-weight: 400;
    line-height: 56.4px;
    animation: mymove 5s ease-out infinite;
}

@keyframes mymove {
    0% {
        /* transform: scale(0, 0);*/
        color: white;
        transform: rotateX(0px);
    }

    100% {
        /* transform: scale(1.2, 1.2);*/
        color: white;
        font-weight: 600;
        font-size: larger;
        transform: rotateX(360deg);
    }
}

.bg-blue {
    background-color: rgba(20, 13, 27);
}

.card {
    background-color: rgba(20, 15, 64);
    border: 1px solid transparent;
    border-radius: 10px;
    text-align: left;
    color: white;
    z-index: 2;
}

.lg-text {
    font-family: "roboto";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    padding-left: 24px;
    padding-bottom: 0%;
    padding-top: 22px;
}

.sm-text {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(204, 206, 216);
    padding-left: 24px;
    padding-top: 0%;
    padding-bottom: 22px;
}

.card img {
    width: 100%;
}

.slick-track {
    display: flex;
    gap: 20px;
}

.slick-dots li button:before {
    content: unset;
}

.sliders {
    .slick-dots li {
        height: 12px;
        width: 40px;
        background-color: white;
        border-radius: 21px;
        transition: 200ms linear width;
        bottom: -88px;
    }

    .slick-dots li.slick-active {
        height: 12px;
        width: 89px;
        background-color: rgba(18, 25, 210, 1);
    }

    .rounded-circle {
        background: rgba(27, 50, 165, 1);
        filter: blur(200px);
        border-radius: 50%;
        height: 331px;
        width: 331px;
        position: absolute;
        z-index: 1;
        animation: circle 5s infinite;
    }
}

.right-position {
    bottom: 0%;
    left: -18%;
}

.left-position {
    top: 0%;
    right: -18%;
}

@keyframes circle {
    from {
        background-color: rgba(27, 50, 165, 1);

    }

    to {
        background-color: rgb(45, 123, 212);
    }
}

img[Alt="stars"] {
    position: absolute;
    animation: spin 5000ms infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

.star-1 {
    top: 52%;
    left: -10%;
}

.star-2 {
    top: 57%;
    left: -14%;
}

.star-3 {
    top: 61%;
    left: -11%;
}

.star-4 {
    top: 63%;
    left: -5%;
    color: rgba(87, 84, 111, 1);
}

/* section-2 */
.header-2 {
    font-family: "Plus Jakarta Sans";
    font-size: 44px;
    line-height: 55.44px;
}

.bg-color {
    background: rgba(2, 13, 21, 1);
}

.card-color {
    background: rgba(3, 137, 255, 0.12);
}

.para {
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
}

.last-text {
    font-family: "Plus Jakarta Sans";
    font-style: italic;
    line-height: 19.6px;
}

.testimonial {

    .slick-dots li button:before {
        content: unset;
    }

    .slick-dots li {
        height: 10px;
        width: 10px;
        background-color: white;
        border-radius: 21px;
        transition: 200ms linear width;
    }

    .slick-dots li.slick-active {
        height: 12px;
        width: 89px;
        background-color: rgba(18, 25, 210, 1);
    }

}

/* section-3 */

.section-3 {
    font-family: "Rubik";
     overflow: hidden; 
}

.header-2 {
    font-size: 35px;
    line-height: 50px;
}

.mid-heading {
    color: rgba(79, 86, 101, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}


.customer-review>div {
    display: flex;
}

.customer-review {

    .over-slider {
        z-index: 2;
    }

    .slick-list {
        overflow: visible;
        padding: 0 20% 0 0;
        position: relative;
    }

    .slick-list::after {
        content: ' ';
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 4000px;
        right: 100%;
        background-color: white;
    }
}

.card-2 {
    border-radius: 10px;
    border: 2px solid rgba(221, 221, 221, 1);
    padding: 30px;
}

.grey-text {
    font-size: 14px;
    line-height: 30px;
    color: rgba(79, 86, 101, 1);
    margin-bottom: 50px;
}

.bold-head {
    font-size: 18px;
    line-height: 30px;
    margin-top: -50.5px;
    padding-left: 80px;
}

.Rating {
    margin-top: -70px;
    margin-right: 50px;
}

.para {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    font-family: Rubik;
}

.customer-review {
    .slick-dots li button:before {
        content: unset;
    }

    .slick-dots li {
        height: 15px;
        width: 15px;
        background-color: rgba(221, 224, 228);
        border-radius: 21px;
        transition: 200ms linear width;
        float: left;
        bottom: -70.82px;
    }

    .slick-dots li.slick-active {
        height: 15px;
        width: 45px;
        background: rgba(245, 56, 56, 1);
    }
}

.prev {
    right: 9%;
    bottom: -90.82px;
}

.next{
    right: 0%;
}

@media (max-width:576px) {
    .right-circle {
        visibility: hidden;
    }

    .left-circle {
        visibility: hidden;
    }
}

@media (min-width:1320px) {
    .card.slick-slide.slick-current.slick-active+div {
        border: 2px solid rgba(18, 25, 210);
    }

    .card-1.card-color.slick-slide.slick-current.slick-active.slick-center {
        padding: 40px 0;
        background-image: radial-gradient(rgb(16, 89, 172), rgba(2, 27, 49));
    }

    .card-2.slick-slide.slick-current.slick-active {
        border: 2px solid red;
    }
}

@media (max-width:991.98px) {
    .card.slick-slide.slick-current.slick-active+div {
        border: 2px solid rgba(18, 25, 210);
    }

    .rounded-circle {
        display: none;
    }

    .card {
        height: 380px;
    }
}

@media (max-width:768px) {
    .card {
        height: 380px;
    }
}